/* Import the same fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES AND BASE STYLES ===============*/
:root {
  --first-color: #B95C50;
  --first-color-alt: #de847b;
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);
  --body-font: "Montserrat", system-ui;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --font-semi-bold: 600;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.login__title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.login__box {
  position: relative;
  margin-bottom: 1.5rem;
}

.login__input {
  width: 90%;
  padding: 1rem;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  background-color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  transition: border-color 0.3s ease;
}

.login__input:focus {
  border-color: var(--first-color);
  outline: none;
}

.login__label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.login__input:focus ~ .login__label,
.login__input:not(:placeholder-shown) ~ .login__label {
  top: 10%;
  left: 1rem;
  font-size: var(--tiny-font-size);
  color: var(--first-color);
}

.login__icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--text-color);
}

.login__button {
  width: 100%;
  padding: 1rem;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 8px;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login__button:hover {
  background-color: var(--first-color-alt);
}

.error-message {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  width: 300px;
  padding: 2px;
  background-color: var(--first-color);
  margin-left: 40px;
  color: white;
}

.error-message p {
  text-align: center;
}
