<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="sidebar__title">Menu</h2>
      <ul class="sidebar__menu">
        <li class="sidebar__item"><a href="#" class="sidebar__link">Dashboard</a></li>
        <li class="sidebar__item"><a href="#" class="sidebar__link"><%= user.names +" " + user.surnames %></a></li>
        <li class="sidebar__item"><a href="#" class="sidebar__link"><%= user.email %></a></li>
        <li class="sidebar__item"><a href="/viewNotes" class="sidebar__link">View Notes</a></li>
       
        <li class="sidebar__item"><a href="/viewLists" class="sidebar__link">View List</a></li>
        <li class="sidebar__item"><a href="/logout" class="sidebar__link">Logout</a></li>
      </ul>
    </aside>
    
    <!-- Menu Icon for Mobile -->
<div class="menu-icon" onclick="toggleMenu()">
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
</div>

    <!-- Main Content -->
    <main class="main-content">
      <h1 class="main-title">Welcome to your Dashboard</h1>
      <div class="grid">
        <!-- Box 1 -->
        <div class="card" onclick="navigateTo('createNote')">
          <h3 class="card__title">Create Note</h3>
          <p class="card__desc">Organize your thoughts and ideas by creating detailed notes.</p>
        </div>

        <!-- Box 2 -->
        <div class="card" onclick="navigateTo('drawingPad')">
          <h3 class="card__title">Create Drawing</h3>
          <p class="card__desc">Unleash your creativity by sketching your thoughts.</p>
        </div>

        <!-- Box 3 -->
        <div class="card" onclick="navigateTo('createList')">
          <h3 class="card__title">Create List</h3>
          <p class="card__desc">Keep track of your tasks or items with a personalized list.</p>
        </div>
      </div>
    </main>
  </div>

  <script>
    // Navigation Function
    function navigateTo(page) {
        window.location.href = `/${page}`;
      
    }
    function toggleMenu() {
    const sidebar = document.querySelector('.sidebar');
    sidebar.classList.toggle('sidebar--active');
  }
  </script>
</body>
</html>
